<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>907147967479-sp6hkmngh0l0pegqk7v319006hpni8uo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.907147967479-sp6hkmngh0l0pegqk7v319006hpni8uo</string>
	<key>API_KEY</key>
	<string>AIzaSyCz0gvnVkGk3ZMo5eNA9Yl3axqmadquW3Q</string>
	<key>GCM_SENDER_ID</key>
	<string>907147967479</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.rkuBusGuide</string>
	<key>PROJECT_ID</key>
	<string>rku-bus-system-9be7a</string>
	<key>STORAGE_BUCKET</key>
	<string>rku-bus-system-9be7a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:907147967479:ios:21525e0ff3bbea968b8cf2</string>
	<key>DATABASE_URL</key>
	<string>https://rku-bus-system-9be7a-default-rtdb.firebaseio.com</string>
</dict>
</plist>